{{!-- <link rel="stylesheet" href="css/main.css">

<div class="container">
<h2 class="bg-dark text-white">Our Shop</h2>
<div class="row">
    {{#each products}}
            <div class="col-md-3">
                {{#each this}}
                    {{#if files}}
                    <img src="image/{{file.filename}}" height="200px" width="250px" alt="">
                    <a href="/home/{{this._id}}" type="button" class="btn btn-secondary" title="View Product"><i class="fa fa-eye"></i></a>
                    <a href="/home/add-to-cart/{{this._id}}" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                    <h3>{{this.title}}</h3>
                    <h5>Php {{this.price}}</h5>
                    {{/if}}
                {{/each}}
            </div>
    {{/each}}
</div>
</div> --}}

<link rel="stylesheet" href="css/main.css">

<div class="container">
<h2 class="bg-dark text-white">Our Shop</h2>
<div class="row">
    {{#each products}}
            <div class="col-md-3">
                {{#each this}}
                    {{#if this.imagePath}}
                    <img src="{{this.imagePath}}" height="200px" width="250px" alt="">
                    <a href="/home/{{this._id}}" type="button" class="btn btn-secondary" title="View Product"><i class="fa fa-eye"></i></a>
                    <a href="/home/add-to-cart/{{this._id}}" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                    <h3>{{this.title}}</h3>
                    <h5>Php {{this.price}}</h5>
                    {{/if}}
                {{/each}}
            </div>
    {{/each}}
</div>
</div>