<link rel="stylesheet" href="css/main.css">

<div class="container">
<h2 class="bg-dark text-white">Our Shop</h2>
<div class="row">
    {{#each products}}
            <div class="col-md-3">
                {{#each this}}
                    {{#if this.imagePath}}
                    <img src="{{this.imagePath}}" height="200px" width="250px" alt="">
                    <a href="/home/{{this._id}}" type="button" class="btn btn-secondary" title="View Product"><i class="fa fa-eye"></i></a>
                    <a href="/home/add-to-cart/{{this._id}}" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                    <h3>{{this.title}}</h3>
                    <h5>Php {{this.price}}</h5>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    {{/if}}
                {{/each}}
            </div>
    {{/each}}
</div>
</div>

{{!-- <div class="container">
<h2 class="bg-dark text-white">Our Shop</h2>
<div class="row">
    {{#each products}}
            <div class="col-md-3">
                {{#each this}}
                    {{#if this.imagePath}}
                    <div class="product-top">
                        <img src="{{this.imagePath}}" height="200px" width="250px" alt="">
                        <div class="overlay">
                            <a href="/home/{{this._id}}" type="button" class="btn btn-secondary" title="View Product"><i class="fa fa-eye"></i></a>
                            <a href="/home/add-to-cart/{{this._id}}" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <h3>{{this.title}}</h3>
                    <h5>Php {{this.price}}.00</h5>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    {{/if}}
                {{/each}}
            </div>
    {{/each}}
</div>
</div> --}}

    {{!-- <div class="container">
        <h2 class="bg-dark text-white">New Arrivals</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="product-top">
                    <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto:sensitive,fl_lossy/985126faac9345fbafa8a8dd008d1a68_9366/Duramo_9_Shoes_Black_BB7066_01_standard.jpg" height="200px" width="250px" alt="">
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="Quick Shop" onclick="window.location.href = '../html/registeredProductView.html';"><i class="fa fa-eye"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Cart"><i class="fa fa-shopping-cart"></i></button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <h3>Nikedas Shoes</h3>
                    <h5>Php 5090.00</h5>
                </div>
            </div>

            <div class="col-md-3">
                <div class="product-top">
                    <img src="https://images.rolex.com/2019/catalogue/images/upright-bba-with-shadow/m228238-0042.png?impolicy=upright-grid-card&imwidth=585" height="200px" width="250px" alt="">
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="fa fa-eye"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Cart"><i class="fa fa-shopping-cart"></i></button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <h3>Rolex</h3>
                    <h5>Php 50,000.00</h5>
                </div>
            </div>

            <div class="col-md-3">
                <div class="product-top">
                    <img src="https://images.maxgaming.com/data/product/raw/zowie_by_benq_s2_divina_bla_1.jpg" height="200px" width="250px" alt="">
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="fa fa-eye"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Cart"><i class="fa fa-shopping-cart"></i></button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <h3>Zowie S2 by BenQ</h3>
                    <h5>Php 3500.00</h5>
                </div>
            </div>

            <div class="col-md-3">
                <div class="product-top">
                    <img src="https://c.static-nike.com/a/images/t_PDP_1280_v1/f_auto/rygq8ls0lesyc4sz1f4s/gym-club-training-duffel-bag-JMtP6R.jpg" height="200px" width="250px" alt="">
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="fa fa-eye"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Cart"><i class="fa fa-shopping-cart"></i></button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <h3>Nikedas Gym Bag</h3>
                    <h5>Php 1000.00</h5>
                </div>
            </div>

        </div>
    </div> --}}
