
<style>
    body{
    background-color: #2c3e50;
}
</style>


<div class="container bg-white">
    {{#if products}}
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <ul class="list-group-item">
            {{#each products}}
                <li class="list-group-item">
                    <span class="badge">Qty: ({{this.qty}})</span>
                    <strong>{{this.item.title}}</strong>
                    <span class="label label-success">Php {{this.item.price}}</span>
                    <div class="btn-group">
                        <button class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" type="button">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="/home/reduce/{{this.item._id}}">Reduce by 1</a></li>
                            <li><a href="/home/remove/{{this.item._id}}">Remove All</a></li>
                        </ul>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <strong>Total Price: Php {{totalPrice}}</strong>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <button type="button" class="btn btn-success">Checkout</button>
    </div>
</div>
{{else}}
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <h2>No Items in Cart</h2>
    </div>
</div>
{{/if}}
</div>
